@charset "UTF-8";

body {
    background: #222;
    color: #eee;
    max-width: 800px;
    line-height: 1.35em;
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:link { color: #66f; /* adjust #0000EE */ }
:visited { color: #84c; /* adjust #551A8B */ }

.fixme::before { content: "FIXME: "; }
.todo::before { content: "TODO: "; }
.fixme, .todo {
    background: #400;
    border: 1px solid #a00;
}

.noob-notice::before {
    content: "🔰 Noob Notice";
    display: inline-block;
    margin: 1em 0 0 1em;
    font-weight: bold;
}
.noob-notice {
    background: #303630;
    border: 1px solid #434b43;
    color: #fff8d8;
    margin-bottom: 2em;
}
